* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}

.navbar {
    background: #77dd77;
    height: 80px;
    width: 100%;
}

.navbar__container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    height: 80px;
    position: absolute;
    left: 25px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
   
}

.navbar__links {
    background: #77dd77;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 30px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.navbar__links:hover {
    background: #000;
    transition: all 0.3s ease;
}

.navbar__item i {
    position: absolute;
    margin-bottom: 45px;
}

@media screen and (max-width: 960px) {
.navbar__container {
    background: #77dd77;
    display: flex;
    justify-content: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.navbar__item {
    width: 50%;
}

.navbar__links {
    background: #77dd77;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 30px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

}


/* Main Section */
.main {
    background-color: #fff;
    overflow: scroll;
    height: 90vh;
}

.main__container {
    display: block;
    background-color: #fff;
    width: 100%;
}

form {
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
}

form input {
    width: 50%;
    height: 30px;
    outline: none;
    padding: 10px;
    border-radius: 20px;
}

form button {
    width: 50px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    background: #77dd77;
    color: #fff;
    cursor: pointer;
}

.item__container {
    margin-top: 100px; 
    margin-left: 30px; 
}

.item__list {
    list-style: none;
    width: 350px;   
    margin-bottom: 100px; 
}

.item {
    background-color: #77dd77;
    display: flex;
    padding: 30px 10px; 
    width: 100%;
    height: 100%;
    word-break: break-all;
    color: #000;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 10px;    
}

.item li {
    flex: 1;
}

.btn__complete {
    background: #77dd77;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.btn__trash {
    background: #77dd77;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.btn__alert {
    background: #77dd77;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.fa-trash, .fa-check, .fa-alert {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    color:#fff;
    width: 5%;
    cursor: pointer;
    padding: 10px;
    background: #77dd77;
    border-radius: 10px;
}

.select {  
    position: relative;
    display: inline;
    margin: 0 5px;
    overflow: hidden;
    background: #77dd77;
    color: #fff;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: #77dd77;
    top: 0; 
    right: 0;
    padding: 0;
    pointer-events: none;
}

date  {
    color: #000;
    padding: 0 5px;
}

#reader {
    width: 15%;
    float: right;
    margin-right: 100px;
    position: relative;
    display: flex;
}

/* Settings Page */
.settings__container {
    position: relative;
    display: block;
    margin: 40px 20px;
}

.settings__container i {
    position: relative;
    display: inline;
    padding: 0 10px;
}

.notifications {
    position: relative;
    display: flex;
    margin-bottom: 30px;
}

.location {
    position: relative;
    display: flex;
    margin-bottom: 30px;
}

.storage {
    position: relative;
    display: flex;
    margin-bottom: 30px;
}

.switch__container {
    padding: 0 20px;
    display: flex;
    position: relative;
   
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    display: inline;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #77dd77;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #77dd77;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }