* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}

.navbar {
    background: #77dd77;
    height: 80px;
    width: 100%;
}

.navbar__container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    height: 80px;
    position: absolute;
    left: 25px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
   
}

.navbar__links {
    background: #77dd77;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 30px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.navbar__links:hover {
    background: #000;
    transition: all 0.3s ease;
}

.navbar__item i {
    position: absolute;
    margin-bottom: 45px;
}

@media screen and (max-width: 960px) {
.navbar__container {
    background: #77dd77;
    display: flex;
    justify-content: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.navbar__item {
    width: 50%;
}

.navbar__links {
    background: #77dd77;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 30px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

}


/* Main Section */
.main {
    background-color: #fff;
    overflow: scroll;
    height: 90vh;
}

.main__container {
    display: block;
    background-color: #fff;
    width: 100%;
}

form {
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
}

form input {
    width: 50%;
    height: 30px;
    outline: none;
    padding: 10px;
    border-radius: 20px;
}

form button {
    width: 50px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    background: #77dd77;
    color: #fff;
    cursor: pointer;
}

.item__box {
    margin-top: 100px; 
    margin-left: 30px;
    
}

.items {
    list-style: none;
    width: 400px;
    margin-bottom: 100px;
}

.items li{
    position: relative;
    display: block;
    padding: 0 20px;
    line-height: 70px;
    width: 100%;
    height: 70px;
    background: #77dd77;
    color: #000;
    list-style: none;
    cursor: pointer;
    transition: 0.5s linear;
    margin-bottom: 10px;
    border-radius: 10px;
    
}

.items li span {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    text-align: center;
    background: #77dd77;
    border-radius: 10px;
}

.items li span:hover {
    background: #f00;
    transition: all 0.3s ease;
}

date  {
    color: #000;
    margin-left: 100px;  
}

#reader {
    width: 25%;
}